apiVersion: apps/v1
kind: Deployment
metadata:
  name: apache-deployment
  labels:
    app: apache
spec:
  replicas: 2
  selector:
    matchLabels:
      app: apache
  template:
    metadata:
      labels:
        app: apache
    spec:
      containers:
      - name: apache
        image: gokulk306/apache-server:9
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service 
metadata:
  name: apache-service
spec:
  type: NodePort
  selector:     
    app: apache
  ports:
  - port: 80          # external port (inside cluster)
    targetPort: 80    # container port
    nodePort: 30080   # node port for external access
